/* Navbar Styles*/

.navbar-container {
  margin-bottom: 60px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
}

.navbar-link {
  text-decoration: none;
  color: black;
}

.navbar-link:hover {
  color: red;
  text-decoration: none;
}
